@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
.wrapper {
	margin: 3% auto;
	justify-items: center;
	max-width: 1300px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
.product-box {
	width: 300px;
	border: 1px solid #eaeaea;
	box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
	-webkit-box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
	-moz-box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
}
.text-box {
	padding: 0.5rem;
	text-align: center;
}
.text-box h5 {
	font-weight: 300;
	font-size: 120%;
}
.text-box p {
	font-weight: 300;
	font-size: 80%;
}
