@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html,
body,
::placeholder,
select,
button {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	margin: 3% auto;
	justify-items: center;
	max-width: 1300px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 2rem;
}
a {
	color: inherit;
	text-decoration: none;
}

.product-box {
	width: 300px;
	border: 1px solid #eaeaea;
	box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
	-webkit-box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
	-moz-box-shadow: 0px 4px 26px -19px rgba(57, 53, 53, 0.75);
}
.text-box {
	padding: 0.5rem;
	text-align: center;
}
.text-box h5 {
	font-weight: 300;
	font-size: 110%;
	margin: 0.5rem;
}
.text-box p {
	font-weight: 300;
	font-size: 80%;
}
.pagination {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 0;
}
.pagination li {
	padding: 1rem;
	font-size: 150%;
	font-weight: 300;
}

.item-container {
	margin: auto;
	width: 100%;
	min-height: calc(100vh - 20vh);
	max-width: 1300px;
	display: grid;
	place-items: center;
}

@media (max-width: 600px) {
	.pagination li {
		padding: 0.5rem;
		font-size: 100%;
		font-weight: 300;
	}
}
