@import "./variables";

.navbar {
	width: 100%;
	height: 20vh;
	border-bottom: 1px solid $border-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-box-shadow: -1px 6px 5px 0px rgba(227, 227, 227, 0.51);
	-moz-box-shadow: -1px 6px 5px 0px rgba(227, 227, 227, 0.51);
	box-shadow: -1px 6px 5px 0px rgba(227, 227, 227, 0.51);
}

.logo {
	margin-right: 5%;
	width: 10%;
	fill: $border-color;
}

.navbar form {
	width: 60%;
	margin-left: 5%;
}
.navbar select {
	width: 15%;
	border-left: none;
	border: none;
	background: transparent;
	margin-left: 5%;
	font-size: 120%;
	font-weight: 300;
	color: $border-color;
}
.navbar input {
	padding: 1.2% 2%;
	font-weight: 300;
	font-size: 120%;
	width: 50%;
	border: 1px solid $border-color;
}
.navbar ::placeholder {
	font-weight: 300;
	color: $border-color;
}
.navbar button {
	margin-left: 5%;
}
@media (max-width: 600px) {
	.navbar input {
		padding: 4% 2%;

		width: 70%;
	}

	.navbar select {
		width: 30%;
		margin-right: 5%;
	}
	.logo {
		display: none;
	}
	.navbar form {
		width: 100%;
		display: flex;
	}
}
